body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.header {
    background-image: url('assets/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 20px;
    color: #b89016;
}
.header h1 {
    margin: 0;
    font-size: 3em;
    font-weight: bold;
}
.header p {
    font-size: 1.5em;
}

.product h1 {
    margin: 20px;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.product {
    padding: 50px;
}